.well(id='block'+block.block+'chain'+block.chain+'well')
      form.form-horizontal.shadow-xl.rounded-lg
        .row
          .col-sm-6
            .form-group(style='margin-right:5px')
              label.control-label.text-primary.font-weight-bold(for='block'+block.block+'chain'+block.chain+'number') #{__('Block')}:
              .input-group.shadow-md.rounded-lg
                span.input-group-addon.bg-primary.text-white.font-weight-bold #
                input.form-control(id='block'+block.block+'chain'+block.chain+'number', type='number', value=block.block)
            .form-group(style='margin-right:5px')
              label.control-label.text-primary.font-weight-bold(for='block'+block.block+'chain'+block.chain+'nonce') #{__('Nonce')}:
              input.form-control.shadow-md.rounded-lg(id='block'+block.block+'chain'+block.chain+'nonce', type='text', value=block.nonce)
          .col-sm-6
            .form-group
              label.control-label.text-primary.font-weight-bold(for='block'+block.block+'chain'+block.chain+'data') #{__('Data')}:
              textarea.form-control.shadow-md.rounded-lg(id='block'+block.block+'chain'+block.chain+'data', rows='5')
            
            
        .form-group
          label.control-label.text-primary.font-weight-bold(for='block'+block.block+'chain'+block.chain+'previous') #{__('Prev')}:
          input.form-control.shadow-md.rounded-lg(id='block'+block.block+'chain'+block.chain+'previous', type='text', value=block.previous, disabled)
        
        .form-group
          label.control-label.text-primary.font-weight-bold(for='block'+block.block+'chain'+block.chain+'hash') #{__('Hash')}:
          input.form-control.shadow-md.rounded-lg(id='block'+block.block+'chain'+block.chain+'hash', type='text', disabled)
        .form-group.text-center
          button.btn.btn-primary.ladda-button.shadow-md.rounded-lg.px-4.py-2.font-weight-bold(id='block'+block.block+'chain'+block.chain+'mineButton', data-style='expand-right')
            span.ladda-label #{__('Mine')}

        
        .text-right.my-3
          i.fa.fa-link.fa-5x.text-primary.animated.fadeInUp(style='position: absolute; right: -33px; margin-top: -154px; transform: rotateX(496deg);z-index:100')

