extends layout

block content
  .container
    .panel.panel-primary.shadow-lg.rounded
      .panel-heading.text-center.bg-gradient-primary
        h1.text-white.text-shadow #{__('Block')}
      .panel-body.bg-light.p-4.rounded.shadow-sm
        form.form-horizontal
          .form-group
            label.col-sm-2.control-label.text-primary.text-bold(for='block1chain1number') #{__('Block')}:
            .col-sm-10
              .input-group.shadow-md.rounded
                span.input-group-addon.bg-primary.text-white #
                input#block1chain1number.form-control(type='number', value='1')
          .form-group
            label.col-sm-2.control-label.text-primary.text-bold(for='block1chain1nonce') #{__('Nonce')}:
            .col-sm-10
              input#block1chain1nonce.form-control.shadow-md.rounded(type='text', value='72608')
          .form-group
            label.col-sm-2.control-label.text-primary.text-bold(for='block1chain1data') #{__('Data')}:
            .col-sm-10
              textarea#block1chain1data.form-control.shadow-md.rounded(rows='10')
          #state.form-group
            label.col-sm-2.control-label.text-primary.text-bold(for='block1chain1hash') #{__('Hash')}:
            .col-sm-10
              input#block1chain1hash.form-control.shadow-md.rounded(type='text', disabled)
          .form-group
            .col-sm-2.text-center
              i.icon-spinner.icon-spin.icon-large.text-primary
            .col-sm-10
              button#block1chain1mineButton.btn.btn-primary.ladda-button.shadow-md.rounded(data-style='expand-right')
                span.ladda-label #{__('Mine')}
  
  style.
    .bg-gradient-primary {
      background: linear-gradient(to right, #007bff, #0056b3);
    }
    .text-shadow {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
    .shadow-md {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }
    .shadow-lg {
      box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
    }

  script.
    $(function() {
      $('#block1chain1number').bind('input propertychange', function() { updateHash(1, 1); });
      $('#block1chain1nonce').bind('input propertychange', function() { updateHash(1, 1); });
      $('#block1chain1data').bind('input propertychange', function() { updateHash(1, 1); });
      mineButtonAnimation(1, 1);
      updateHash(1, 1);
    });

    function getText(block, chain) {
      return $('#block'+block+'chain'+chain+'number').val() +
             $('#block'+block+'chain'+chain+'nonce').val() +
             $('#block'+block+'chain'+chain+'data').val();
    }

    function mineButtonAnimation(block, chain) {
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, false);
              l.stop();
            }, 250); // give UI time to update
        });
    }
